:root {
  --color-primary: #fc3c3c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  font-family: Helvetica, Arial, sans-serif;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: white;
  height: 60px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

nav ul li {
  margin: 15px 15px 0 0;
  justify-content: space-around;
  display: flex;
  font-size: 24px;
  font-weight: bold;
  margin-right: 15px;
}

/* nav ul li a:hover {
  color: white;
}
 */
nav ul li a {
  text-decoration: none;
  color: rgb(179, 5, 5);
}

.nav__respon-links {
  background-color: rgba(251, 251, 251, 0.6);
  width: 100%;
  position: relative;
  font-size: 0;
}

.nav__respon-links nav {
  background-color: white;
}

.nav__respon-links ul {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav__respon-links ul li {
  margin: 0;
  padding: 8px;
}

.nav__respon-links ul li a {
  color: black;
  font-size: 90%;
}

.nav__respon-links ul li:hover {
  background-color: rgb(149, 162, 175);
}

.nav__respon-links ul li a:hover {
  color: red;
}
.nav__respon-links-open {
  position: inherit;
  top: 8.2%;
  right: 10%;
}

.nav__respon-links-close {
  display: none;
}

.burger {
  display: none;
}
.sticky {
  position: fixed;
  z-index: 3500;
  transition: all 0.5s ease;
}

.about {
  background:
  /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(images/others/marcin.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;
}

.about h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  color: white;
  font-size: 48px;
  /*   background-color: white; */
  width: 50%;
  padding-top: 20px;
  font-family: "ChunkFive-Regular", "Courier New", Courier, monospace;
}

.cta {
  width: 200px;
  height: 100px;
  padding: 10px;
  border: 2px solid black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(5px);
  z-index: 2000;
}

.cta h3 {
  text-align: center;
  color: red;
  margin-bottom: 8px;
}

.btn {
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  -webkit-box-shadow: 3px 2px 5px #666666;
  -moz-box-shadow: 3px 2px 5px #666666;
  box-shadow: 3px 2px 5px #666666;
  font-family: Courier New;
  color: #fcfcfc;
  font-size: 15px;
  background: #d93442;
  padding: 5px 10px 8px 10px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background: var(--color-primary);
  text-decoration: none;
}

.work {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  border: 1px solid rgb(147, 144, 144);
  width: 350px;
  background-color: white;
}

.container img {
  height: 64px;
  width: 64px;
}

.temp {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.temp h4 {
  color: gray;
}

.warehouse {
  border-bottom: 0.5px solid black;
}

.warehouse h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 32px;
}

.projects {
  display: flex;
  justify-content: center;
}

.projectOne {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 40px;
  box-shadow: 6.9px 4.8px 3.7px -6px rgba(0, 0, 0, 0.061),
    23.2px 16.1px 12.3px -6px rgba(0, 0, 0, 0.089),
    104px 72px 55px -6px rgba(0, 0, 0, 0.15);
}

.details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  border: 0.5px solid black;
  border-top: none;
  height: 350px;
  padding: 10px;
  background-color: blanchedalmond;
}
.details h3 {
  line-height: 30px;
}

.projectOne h4 {
  color: red;
}

.link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.link:hover {
  color: red;
}

.projectOne span {
  color: red;
}

.quote-container {
  padding-bottom: 50px;
  border-bottom: 0.5px solid black;
}

.quote-tab {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 50px;
}

.quote-tab-div {
  width: 400px;
  height: 100px;
  border: 2px solid black;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.quote-tab-1 {
  border-right: 1px solid white;
}

.quote-tab-div span img {
  margin-right: 15px;
}

.quote-tab-div-active {
  background-color: red;
}
.quote-content {
  width: 800px;
  background-color: white;
  margin: 0 auto;
}
.sticky-hidden {
  position: fixed;
  bottom: 20px;
  right: 30px;
  visibility: hidden;
}

.sticky-hidden a {
  border: 1px solid white;
  background-color: blue;
  padding: 5px;
  padding-top: 10px;
  cursor: pointer;
  text-align: center;
}

.sticky-hidden a:hover {
  background-color: rgb(5, 5, 186);
}

.dataName {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  padding-top: 15px;
}

.dataName input,
select,
textarea {
  margin-bottom: 20px;
  padding: 10px;
}

.dataName label {
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 26px;
}

.span {
  margin-top: 20px;
}
.mesure {
  width: 47.5%;
}

.span input:nth-child(odd) {
  margin-right: 25px;
}

input[type="radio"] {
  vertical-align: middle;
  margin-top: 8px;
  margin-bottom: 12px;
}

.radio {
  margin-left: 50px;
}

.radio label {
  margin: 20px;
  font-size: 16px;
  font-weight: normal;
}

.btn-form {
  background-color: black;
  color: white;
  width: 80%;
  margin: 0 auto;
  cursor: pointer;
  margin-top: 30px;
  font-weight: bold;
}

.btn-form:hover {
  background-color: rgb(41, 40, 40);
}

.inactive {
  display: none;
}

.pricing {
  border: 1px solid black;
}

.pricing-container {
  width: 75%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.h3-style {
  color: #e11d07;
  font-size: 14px;
  margin-bottom: 10px;
}

.pricing h1 {
  font-size: 30px;
  line-height: 50px;
}

.right-part {
  margin-left: 50px;
  width: 80%;
}

.right-part img {
  border: 2px solid red;
  padding: 1px;
  background-color: white;
  border-radius: 50%;
  margin-right: 5px;
}

.btn-pricing {
  padding: 10px 20px;
  color: var(--color-primary);
  font-weight: bold;
  background-color: white;
  border: 2px solid red;
  cursor: pointer;
  margin-right: 30px;
}

.btn-pricing:hover {
  color: white;
  background-color: var(--color-primary);
}

.profile {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
}

.contact-rep {
  text-align: center;
}

.contact-rep span {
  font-weight: bold;
}

.contact-rep p {
  color: rgb(81, 81, 81);
  font-size: 14px;
  letter-spacing: 1px;
}

.article {
  padding: 50px 0;
  /* margin: 50px; */
  background-color: #fcfcfc;
}

.blur-img {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.title {
  text-align: center;
}

.title h1 {
  margin-bottom: 15px;
}

.article-content-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.article-content {
  width: 300px;
}

.article-content h4 {
  font-weight: normal;
  color: var(--color-primary);
}

.article-content h5 {
  font-weight: normal;
  color: rgb(68, 67, 67);
}

.inactive2 {
  display: none;
}

.link:hover .inactive2 {
  display: inline-block;
}

.location {
  z-index: 5000;
}
.myIframe {
  position: relative;
  padding-bottom: 65.25%;
  padding-top: 30px;
  height: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch; /*<<--- THIS IS THE KEY*/
  border: solid black 1px;
}

.myIframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-us {
  display: flex;
  font-size: 13px;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  position: absolute;
  z-index: 1000;
  margin-top: 10px;
  width: 400px;
  background-color: rgb(251, 243, 230);
  vertical-align: middle;
  border: 3px solid black;
  text-align: left;
  transform: translate(40%, -250px);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.about-us h1 {
  text-align: center;
  padding: 5px;
}

.about-us a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

.about-us address {
  font-style: normal;
}
.address {
  margin-left: 30px;
}

.address p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

footer {
  background-color: black;
  color: white;
}

.container1 {
  display: flex;
  justify-content: space-around;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid white;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.right h3 {
  width: 30%;
}

.input {
  height: 60px;
  background-color: black;
  border: 0.5px solid white;
  padding: 8px;
  margin-right: 10px;
}
.input::placeholder {
  color: white;
}

.input,
select,
textarea {
  color: white;
}
.btn2 {
  height: 60px;
  width: 100px;
  background-color: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn2:hover {
  background-color: rgb(179, 5, 5);
}

.container2 {
  display: flex;
  justify-content: center;
  height: 300px;
  padding: 20px;
}

.left-info {
  margin-top: 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}

.left-info p {
  width: 70%;
}

.right-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.icons img {
  border-radius: 50%;
  /* border: 1px solid white; */
  padding: 5px;
  background-color: red;
  cursor: pointer;
  margin-right: 5px;
}

.icons img:hover {
  background-color: rgb(179, 5, 5);
  padding: 3px;
}

.right-info a {
  text-decoration: none;
  color: red;
  display: flex;
}

.right-info a > img {
  margin-right: 5px;
}

.right-info a:hover {
  color: white;
}

.num {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title p a {
  color: red;
  text-decoration: none;
}

.title p a:hover {
  color: #21d4fd;
}

@media only screen and (max-width: 550px),
  only screen and (max-device-width: 550px) {
  html,
  body {
    overflow-x: hidden;
  }
  .nav-links {
    display: none;
  }
  .burger {
    display: inline-block;
    margin-top: 15px;
    cursor: pointer;
  }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .about h1 {
    font-size: 40px;
  }
  .container {
    width: 119px;
  }
  .myframe {
    width: 100%;
  }
  .container img {
    height: 30px;
    width: 30px;
  }
  .container h4 {
    font-size: 10px;
  }
  .container h2 {
    font-size: 12px;
  }

  #projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .projectOne {
    width: 80%;
  }
  .details {
    height: 300px;
  }
  .article-content-container {
    display: flex;
    flex-direction: column;
  }

  .quote-tab {
    width: 394px;
  }
  /*  .form-container {
    width: 50%;
  } */
  .quote-tab-div {
    padding: 10px;
    font-size: 12px;
  }

  .quote-content {
    width: 392px;
    margin: 0;
  }
  .quote-tab-div span img {
    margin-right: 5px;
    height: 40px;
  }

  .mesure {
    width: 23.6%;
  }

  .pack {
    display: flex;
    align-items: center;
  }

  .pack span {
    margin-left: 5px;
  }

  .span input:nth-child(odd) {
    margin-right: 2px;
  }
  .radio {
    margin-left: 0;
    display: flex;
    justify-content: space-evenly;
  }
  .radio label {
    margin: 0;
    font-size: 10px;
    word-wrap: break-word;
    font-weight: normal;
  }

  .pricing-container {
    display: flex;
    flex-direction: column;
  }

  .pricing h3 {
    text-align: center;
  }

  .pricing h1 {
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 15px;
  }
  .right-part img {
    width: 60px;
    height: 55px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .profile {
    display: flex;
    flex-direction: column;
  }

  .myframe {
    display: none;
  }
  .about-us {
    position: inherit;
    width: 80%;
    transform: translate(0%, 0px);
    margin: 0 auto;
    z-index: 1000;
    margin-bottom: 10px;
  }

  .container2 {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-evenly;
  }

  .right {
    display: flex;
    flex-direction: column;
  }

  .right h3 {
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 7px;
  }

  .input {
    height: 40px;
  }

  .btn2 {
    height: 40px;
  }
  .container2 h4 {
    color: blue;
  }

  .left-info {
    width: 100%;
    margin-bottom: 15px;
  }
  .left-info p {
    width: 100%;
    font-size: 15px;
  }
  .title h1 {
    font-size: 32px;
  }
  .article-content {
    margin-bottom: 15px;
  }
  .sticky {
    position: inherit;
  }
}
